.footer{ 
    display: grid;
    justify-items: center;
    margin-top: 50px;
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    font-size: 18px;
}

.footer-top p{
    margin: 0;
    padding-top: 20px;
}