.benefit-card {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    max-width: 300px;
}

.benefit-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    margin: 8px 0;
}

.benefit-header h3{
    margin: 5px 0;
    text-wrap: nowrap;
}

.benefit-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.benefit-description {
    margin: 0;
    font-size: 25px;
}

.benefits-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-items: center;
}
