.benefit-card {
    margin: 0 60px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

.benefit-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 8px;
}

.benefit-header h3, p{
    margin: 0;
}

.benefit-icon {
    width: 24px;
    height: 24px;
}

.benefit-description {
    font-size: 25px;
}

.benefits-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-items: center;
}
