.benefit-card {
    margin: 0 60px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid var(--highlight-color);
    border-radius: 8px;
    background-color: var(--secondary-color);
    max-width: 300px;
}

.benefit-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 8px;
}

.benefit-header h3, p{
    margin: 0;
}

.benefit-icon {
    width: 24px;
    height: 24px;
}

.benefit-description {
    font-size: 25px;
}

.benefits-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.benefits-section > :nth-child(4),
.benefits-section > :nth-child(5) {
    grid-column: span 1;
    justify-self: center;
}