.all-information{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-page{
    padding: 30px 50px;
    margin: 0 150px;
    background-color: var(--secondary-color);
}

.all-information p{
    margin: 10px 0;
}

.profile-page-img{
    justify-self: center;
}

.link-edit-registration{
    display: flex;
    justify-content: center;
    color: var(--highlight-color);
    margin-top: 20px;
}

.personal-information, .availability-skills, .personal-address{
    border-radius: 5px;
    border: 1px solid var(--highlight-color);
    margin: 50px 50px;
    padding: 20px;
}

.availability-skills{
    margin-top: 0;
}