.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
.carousel {
    display: flex;
    overflow: hidden;
    gap: 20px;
    flex: 1;
    max-width: auto;
    max-height: 480px;
    padding: 0 40px;    
  }

.carousel-item {
    flex: 0 0 calc(110% / 4);
    box-shadow: 0 2px 12px rgba(183, 100, 66);
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }


.carousel-item.visible {
  opacity: 1;
}

.carousel-item.hidden {
  opacity: 0.5;
}

.carousel img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
}

.carousel-item h3{
    margin: 5px;
}

.carousel-button {
    border: none;
    background-color: transparent;
    color: var(--highlight-color);
    font-size: 30px;
    padding: 15px;
    cursor: pointer;
  }
  
  .carousel-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
