.home-page{
  padding: 0 60px;
}

.row-1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 0 60px;
}

.column text-column{
  padding: 0;
}

.text-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.text-column h1{
  font-size: 35px;
}

.row1-link{
  padding: 5px;
  width: fit-content;
  border: solid 1px var(--primary-color);
  border-radius: 5px;
  background-color: var(--highlight-color);
  color: var(--secondary-color);
  font-weight: 600;
  text-decoration: none;
  font-size: 25px;
}

.row1-link:hover{
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: var(--highlight-color);
  text-decoration: none;
}

.row-1 .image-column {
  position: relative;
}

.row-1 .image-column img {
  justify-content: center;
  align-items: center;
  border: 2px solid var(--highlight-color);
  border-radius: 15px;
  padding: 20px 0;
  width: 500px;
  height: auto;
}

.row-1 .image-column::before {
  content: "...";
  font-size: 40px;
  color: var(--highlight-color);
  position: relative; 
  top: 5px;
  left: 10px;
  font-weight: 700; 
}

.row-2 h2, .row-4 h2{
  align-items: center;
  margin-left: 40px;
}

.row3-link{
  display: flex;
  justify-content: right;
  margin-top: 20px ;
  color: var(--highlight-color);
}