.header{
     display: flex;
     justify-content: space-between !important;
     align-items: center;
     padding: 20px 60px 10px 60px;
     margin: 0 60px;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left img{
    height: 50px;
}

.header-left h1{
    margin-left: 10px;
}

.header-left-link{
    text-decoration: none;
    color: var(--highlight-color);
    font-size: 38px;
}

.header-link{
    margin-right: 10px;
    padding: 5px;
    border: solid 2px var(--primary-color);
    border-radius: 5px;
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    font-weight: 600;
    text-decoration: none;
    font-size: 25px;
}

.header-link:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--highlight-color);
    text-decoration: none;
  }