.cadastro-container {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-link, button {
    padding: 2px 5px;
    border: solid 2px var(--primary-color);
    border-radius: 5px;
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    font-weight: 500;
    text-decoration: none;
    font-size: 20px;
    width: fit-content;
}

button {
    margin-top: 15px;
    align-self: center;
}

.login-link:hover, button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-color: var(--highlight-color);
    text-decoration: none;
}

.apresentacao {
    text-align: left;
    margin-bottom: 20px;
}

.apresentacao h1 {
    font-size: 24px;
    color: var(--highlight-color);
    font-weight: 700;
    margin-bottom: 10px;
}

.apresentacao p {
    margin: 0;
}

.cadastro-form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: 1px solid var(--highlight-color);
    border-radius: 8px;
}

legend {
    font-weight: 700;
    color: var(--highlight-color);
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 83px;
    margin-bottom: 10px;
    align-items: flex-start;
}

.form-row.nome-email div {
    flex: 1;
    min-width: 250px;
}

.form-row.phone-dob-rg-cpf, .form-row.upload-password-confirm, .form-row.address {
    width: 100%;
    justify-content: space-between;
}

.form-row user-type{
    justify-content: unset !important;
    gap: 10px !important;
}

.form-row.availability{
    gap: 0;
}

.form-row.about{
    gap: 0;
}

#number {
    margin-right: 60px;
}

p {
    margin: 2px 0;
    padding-top: 5px;
}

input, select, textarea {
    border: 1px solid var(--highlight-color);
    border-radius: 4px;
    font-size: 16px;
    padding: 5px;
}

input, textarea {
    width: 100%;
}

select, input[type="number"], input[type="date"], input[type="password"] {
    width: 130px;
    margin-right: 5px;
}

input[type="radio"] {
    width: 20px;
}

::placeholder {
    color: gray;
    font-family: var(--font-family);
}

input:focus, select:focus, textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.col-1, .col-2 {
    flex: 1;
}

.availability-days {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.about textarea {
    resize: none;
    height: 80px;
    width: 100%;
    height: 100px;
}

.error-message {
    color: red;
    font-size: 14px;
}

.input-error {
    border: 1px solid red;
}