.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header-registered {
    display: flex;
    gap: 20px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .filter-group {
    display: flex;
    gap: 15px;
    margin-left: 167px;
    text-wrap: nowrap;
  }
  
  .filter-item {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  
  .filter-item label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .filter-item select {
    padding: 8px;
    width: fit-content;
    font-size: 1rem;
    border: 1px solid var(--highlight-color);
    border-radius: 5px;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .card {
    border: 1px solid var(--highlight-color);
    border-radius: 8px;
    padding: 20px;
    background-color: var(--secondary-color);
  }
  
  .card-body {
    text-align: left;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .page-button,
  .footer-registered_btn {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .page-button:hover,
  .footer-registered_btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }
  
  .page-button {
    padding: 10px 20px;
    margin: 0 5px;
  }
  
  .footer-registered {
    display: flex;
    text-align: left;
    margin-top: 40px;
  }
  
  .footer-registered_btn {
    margin: 0 30px;
    text-wrap: nowrap;
    align-self: center;
    padding: 10px;
    text-decoration: none;
  }