.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-registered {
  display: flex;
  gap: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid var(--highlight-color);
  border-radius: 8px;
  overflow: hidden;
  padding: 10px 10px 0 10px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.card-image-container {
  flex: 0 0 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--highlight-color);
  border-radius: 50%;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0 0 10px 0;
}

.card-available {
  font-size: 20px;
  margin: 0 0 10px 30px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.page-button,
.footer-registered_btn {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}

.page-button:hover,
.footer-registered_btn:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.page-button {
  padding: 10px 20px;
  margin: 0 5px;
}

.footer-registered {
  display: flex;
  text-align: left;
  margin-top: 40px;
}

.footer-registered_btn {
  margin: 0 30px;
  text-wrap: nowrap;
  align-self: center;
  padding: 10px;
  text-decoration: none;
}